.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-poster-1 {
  width: 56%;
  left: 22%;
  height: 56%;
  top: 22%;
  background-image: url(images/spa-treatment-dark-wall.jpg);
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 198%;
    left: -49%;
    height: 144px;
    top: 0%;
  }

  .u-section-1 .u-video-poster-1 {
    width: 51%;
    left: 25%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 314%;
    left: -107%;
  }

  .u-section-1 .u-video-poster-1 {
    width: 32%;
    left: 34%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1108px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 971px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  animation-duration: 1000ms;
  margin: -1px 120px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 65px 120px 0 0;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 120px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 120px 0 0;
}

.u-section-2 .u-text-6 {
  animation-duration: 1000ms;
  margin: 11px 75px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 120px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 120px 0 0;
}

.u-section-2 .u-text-9 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 120px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 120px 0 0;
}

.u-section-2 .u-text-12 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 120px 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 120px 0 0;
}

.u-section-2 .u-text-15 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-2 .u-text-16 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 120px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 42px 0 0;
  padding: 7px 195px 8px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 988px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  object-position: 67.58% 50%;
  margin-top: 103px;
  margin-bottom: 0;
  height: 875px;
  filter: brightness(0.9);
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 801px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 815px;
    background-position: 71.07% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 722px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-2 .u-image-1 {
    height: 553px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-text-5 {
    width: 355px;
  }

  .u-section-2 .u-text-6 {
    width: 355px;
  }

  .u-section-2 .u-text-7 {
    width: 355px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 936px;
  }

  .u-section-2 .u-image-1 {
    height: 830px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-5 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-2 .u-image-1 {
    height: 523px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 43px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 988px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  animation-duration: 1000ms;
  margin: -1px 120px 0 0;
}

.u-section-3 .u-image-1 {
  object-position: 67.58% 50%;
  margin-top: 65px;
  margin-bottom: 0;
  height: 875px;
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 988px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 102px 0 0 120px;
}

.u-section-3 .u-text-3 {
  animation-duration: 1000ms;
  margin: 11px 0 0 120px;
}

.u-section-3 .u-text-4 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 0 0 120px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 0 0 120px;
}

.u-section-3 .u-text-6 {
  animation-duration: 1000ms;
  margin: 11px 0 0 65px;
}

.u-section-3 .u-text-7 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 0 0 120px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 0 0 120px;
}

.u-section-3 .u-text-9 {
  animation-duration: 1000ms;
  margin: 11px 0 0 120px;
}

.u-section-3 .u-text-10 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 0 0 120px;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 0 0 120px;
}

.u-section-3 .u-text-12 {
  animation-duration: 1000ms;
  margin: 11px 0 0 120px;
}

.u-section-3 .u-text-13 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 0 0 120px;
}

.u-section-3 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 0 0 120px;
}

.u-section-3 .u-text-15 {
  animation-duration: 1000ms;
  margin: 11px 0 0 120px;
}

.u-section-3 .u-text-16 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 0 0 120px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 42px 0 0;
  padding: 7px 195px 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 815px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 721px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 71.07% 50%;
    min-height: 815px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 495px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 495px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -13156px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 552px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 275px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 275px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -1748px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-3 .u-image-1 {
    height: 828px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 95px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 521px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 776px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 40px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 733px;
  margin-top: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 600;
  animation-duration: 1000ms;
  margin: 0 120px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 64px 120px 0 0;
}

.u-section-4 .u-text-3 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  animation-duration: 1000ms;
  font-weight: normal;
  margin: 11px 120px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 49px 120px 0 0;
}

.u-section-4 .u-text-6 {
  animation-duration: 1000ms;
  margin: 11px 75px 0 0;
}

.u-section-4 .u-text-7 {
  animation-duration: 1000ms;
  margin: 8px 120px 0 0;
}

.u-section-4 .u-text-8 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-4 .u-text-9 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-4 .u-text-10 {
  animation-duration: 1000ms;
  margin: 11px 75px 0 0;
}

.u-section-4 .u-text-11 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-4 .u-text-12 {
  animation-duration: 1000ms;
  margin: 11px 120px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 60px 0 0;
  padding: 7px 195px 8px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 733px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  object-position: 67.58% 50%;
  height: 580px;
  width: 565px;
  animation-duration: 1000ms;
  margin: -619px 0 52px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 20px;
  }

  .u-section-4 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 604px;
    background-position: 71.07% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-text-5 {
    width: 355px;
  }

  .u-section-4 .u-text-6 {
    width: 355px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 695px;
  }

  .u-section-4 .u-image-1 {
    height: 555px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-5 {
    width: 340px;
  }

  .u-section-4 .u-text-6 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-4 .u-image-1 {
    height: 349px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1887px;
}

.u-section-5 .u-post-details-1 {
  min-height: 1717px;
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 600;
  animation-duration: 1000ms;
  margin: 50px 60px 0 0;
}

.u-section-5 .u-image-1 {
  height: 380px;
  margin-bottom: 0;
  margin-top: 66px;
  object-position: 50% 70.77%;
  animation-duration: 1000ms;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 60px 695px 0 0;
}

.u-section-5 .u-text-3 {
  animation-duration: 1000ms;
  margin: 11px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 695px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 695px 0 0;
}

.u-section-5 .u-text-6 {
  animation-duration: 1000ms;
  margin: 11px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 695px 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 695px 0 0;
}

.u-section-5 .u-text-9 {
  animation-duration: 1000ms;
  margin: 11px 0 0;
}

.u-section-5 .u-text-10 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 695px 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 695px 0 0;
}

.u-section-5 .u-text-12 {
  animation-duration: 1000ms;
  margin: 11px 0 0;
}

.u-section-5 .u-text-13 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 11px 695px 0 0;
}

.u-section-5 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 26px 695px 0 0;
}

.u-section-5 .u-text-15 {
  animation-duration: 1000ms;
  margin: 11px 0 0;
}

.u-section-5 .u-text-16 {
  font-weight: 600;
  font-size: 1.375rem;
  animation-duration: 1000ms;
  margin: 0 695px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 50px auto 0 0;
  padding: 7px 195px 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 495px;
  }

  .u-section-5 .u-text-16 {
    margin-right: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 275px;
  }

  .u-section-5 .u-text-16 {
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 95px;
  }

  .u-section-5 .u-text-16 {
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
  }

  .u-section-5 .u-text-13 {
    margin-top: -342px;
    margin-right: 0;
  }

  .u-section-5 .u-text-14 {
    margin-top: 368px;
    margin-right: 0;
  }

  .u-section-5 .u-text-16 {
    margin-right: 0;
  }
}